<p>
  Case fatality rate is normally defined as the ratio of the number of deaths
  to the total number of cases. In an epidemic that has concluded, it is the
  most accurate estimate of the lethality of the disease. In an epidemic still
  in progress, it really represents a <i>lower bound</i> because it considers
  cases which have just been discovered but which have not yet run their
  course.
</p>
<p>
  There are two other metrics given below, called <b>adjusted CFR</b>.
  Because there is a delay between onset of symptoms and fatality, it may
  be helpful to consider a ratio of the total number of deaths to date to
  the number of cases present at the approximate time those deaths began
  showing symptoms. This technique
  <a href="https://www.thelancet.com/journals/laninf/article/PIIS1473-3099(20)30195-X/fulltext" target="_blank">was published in The Lancet</a>
  using a period of 14 days. On this chart, periods of
  both 10 and 14 days are used.
</p>
<p class='center'>
  <b>Note:</b> the first 10-14 data points won't include
  this information. To see data for those data points, choose a wider time
  frame using the controls above.
</p>

<div id='container' style='height: 90%;'>
</div>

<script>
  Highcharts.chart('container', {
    chart: {
      type: 'spline',
    },

    <% if !@country %>
      title: { text: 'COVID-19 Fatality rates over time' },
    <% else %>
      title: { text: 'COVID-19 Fatality rates over time in <%= @country.name %>' },
    <% end %>

    <%= render 'cfr', reports: @reports %>
  });
</script>
